html {
  font-size: 62.5%; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.4rem; }

a {
  color: white; }
  a:focus, a:active {
    outline: none; }

.header {
  background-color: #007DFE;
  color: white;
  padding: 2rem 0; }

.header__title {
  font-weight: bold; }

.header__links {
  justify-content: flex-end; }

@media (max-width: 768px) {
  .header__links {
    justify-content: flex-start;
    margin-top: 1.5rem; } }

.white_link {
  margin-right: 1rem; }

.dark_link {
  background-color: #414141;
  padding: .5rem; }

.dark_link:hover, .white_link:hover {
  color: inherit; }

.title {
  background-color: #414141;
  color: white;
  font-weight: 600;
  padding: 1.5rem 0; }

.content {
  min-height: 50rem;
  padding-top: 2rem; }

.footer {
  background-color: #414141;
  color: white;
  padding: 2.5rem 0; }

.footer__reserved {
  color: #d9d9d9;
  font-size: 1.2rem;
  margin-top: 1rem; }

.footer__social {
  margin-top: 1rem; }

.footer__social__icons {
  margin-top: 1rem; }
  .footer__social__icons img {
    margin-right: 2rem;
    width: 1.5rem; }

.footer__store__icons {
  margin-top: 1rem; }
  .footer__store__icons img {
    margin-right: 1rem;
    width: 140px; }

@media (min-width: 768px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    max-width: 14.285714285714285714285714285714% !important;
    flex: none !important; } }

@media (min-width: 992px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    max-width: 14.285714285714285714285714285714% !important;
    flex: none !important; } }

@media (min-width: 1200px) {
  .seven-cols .col-md-1,
  .seven-cols .col-sm-1,
  .seven-cols .col-lg-1 {
    max-width: 14.285714285714285714285714285714% !important;
    flex: none !important; } }
