html {
  font-size: 62.5%; }

body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1.4rem; }

a {
  color: white; }
  a:focus, a:active {
    outline: none; }

.header {
  background-color: #007DFE;
  color: white;
  padding: 2rem 0; }

.header__title {
  font-weight: bold; }

.white_link {
  margin-right: 1rem; }

.dark_link {
  background-color: #414141;
  padding: .5rem; }

.dark_link:hover, .white_link:hover {
  color: inherit; }

.title {
  background-color: #414141;
  color: white;
  font-weight: 600;
  padding: 1.5rem 0; }

.content {
  min-height: 50rem;
  padding-top: 2rem; }
